<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208771228768-1d34i9lv6ctiv3rps676m2aak47g3tk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208771228768-1d34i9lv6ctiv3rps676m2aak47g3tk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBd9GUZU6s1wV_-59sjbEotvpZs0loSjw</string>
	<key>GCM_SENDER_ID</key>
	<string>208771228768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>ultimosamurai-d81e2</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimosamurai-d81e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208771228768:ios:726156390e9aa59b35cf05</string>
</dict>
</plist>